node_modules
pruned
.env.local
cdk.context.json
outputs.json
cdk.out
.env
# files copied into examples folder when cdk-nextjs is building
.dockerignore
builder.Dockerfile
cdk-nextjs-load-vars.sh
symlink.mjs